{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8  mt-2 offset-md-2">
            <h3>{% trans "Sign In" %}</h3>
            <!--Welcome message. Link to create an account.-->
            <p>{% blocktrans %}Welcome back to the BEAN|FEAST. <br>
                Please log in. <br>
                If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
                first.{% endblocktrans %}</p>
        </div>
    </div>

    <div class="col-md-8 offset-md-4">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            <!--Token for protection on form submission-->
            {% csrf_token %}
            <!--Form to Sign in.-->
            {{ form.as_p }}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn right btn-outline-dark" type="submit">{% trans "Sign In" %}</button>
            <!-- <button style="width: 200px; margin: 60px 0 0 60px;" class="btn right btn-outline-dark" type="submit">{%
                trans "Sign In" %}</button> -->
        </form>

    </div>
</div>
{% endblock %}