{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3 class="hover-orange-class">{% trans "Sign Out" %}</h3>
            <!--Confirmation to sign out.-->
            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <!--Sign out form-->
            <form class="form-smaller" method="post" action="{% url 'account_logout' %}">
                <!--Token for protection on form submission-->
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <!--Center the button with 'form' image-->
                <button style="width: 150px; margin: 0 0 50px 50px;" class="btn right btn-outline-dark" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}