{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4"><span class="welcome-beanfeast beanfeast">Bean</span><span class="text-warning">|</span><span><strong
                    class="beanfeast">Feast</strong></span></h1>
        <p class="beanfeast">Happy hour can't start yet!</p>
        <h2>500 Error Page!</h2>
        <h3>Oops, no news to share right now..</h3>
        <div></div>
        <p>Come back soon!</p>
        
    </div>
    <div class="bottom-padding"></div>
</div>

{% endblock %}