{% extends "base.html" %}

{% block content %}

<body class="d-flex flex-column h-100 main-bg">

    <h1 class="text-black">Create a Booking</h1>
    <form method="POST" , action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit" class="btn btn-lg btn-outline-dark">Click to Continue</button>
            </p>
        </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {%endblock%}