{% extends "base.html" %}

{% block content %}

<h1 class="text-danger">Book your table</h1>
<table>

    {% for item in items %}
    <tr>
        {% if user.username != item.name %}
        {% include '_messages.html' %}

        {% else %}
        {% if item.approve %}
        <td>
            <p>{{ item.name }} Your booking is Approved. {{ item.date}} at {{item.time}}
                for {{ item.people }} booked by {{ item.email }}
            </p>
        </td>
        <td>
            <a href="/edit/{{ item.id }}">
                <button class="btn btn-lg btn-outline-dark">Edit</button></a>
        </td>

        <td>
            <a href="/cancel/{{ item.id }}">
                <button type="button" class="btn btn-lg btn-outline-dark">Cancel Reservation</button></a>
        </td>
        {% else %}

        {% endif %}
        {% endif %}
    </tr>
    {% empty %}

    <tr>
        <td>You have No Bookings...</td>
    </tr>
    {% endfor %}
</table>
{%endblock%}