{% extends "base.html" %}

{% block content %}

<body class="d-flex flex-column h-100 main-bg">

    <h1 class="text-info">Edit Your Booking</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit" class="btn btn-lg btn-outline-dark">Change Booking</button>
            </p>
        </div>
    </form>
    <script>
        setTimeout(function () {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 3000);

        function ConfirmCancellation() {
            let cancellation = confirm("Are you sure you want to cancel your reservation?");
            if (cancellation == true) {
                return true;
            } else {
                return false;
            }
        }

    </script>
{%endblock%}