/*General body CSS*/
body {
    position: relative;
    margin: 0;
}

p, div {
    font-family: 'Oswald', sans-serif;
}

/*No decoration on lists*/
ul {
    list-style-type: none;
}


/*Button*/
.btn {
    padding-top: 10px;

}


/*Head Logo*/
.beanfeast {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.main-bg {
    background-color: #f5f6cf;
}

/*Card*/
.card-body {
    height: fit-content;
}

/*Print Title of forum comment from admin*/
.hover-orange-class {
    text-decoration: none;
    color: #0c0c0c;
}


/*Hover class to turn text orange.*/
.hover-orange-class:hover {
    color: #eaa205;
}


/*Footer CSS*/
.orange-footer {
    background-color: #eaa205;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;

}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer {
    bottom: 0;
    height: 50px;
    width: 100%;
}