/*General body CSS*/
body {
    background-color: #0b2be0;
}

p, div {
    font-family: 'Oswald', sans-serif;
}

/*Head Logo*/
.beanfeast {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}



.main-bg {
    background-color: #f5f6cf;
}


/*Print Author name*/
.author-bg {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #f28305;
}

.author-text {
    color: whitesmoke;
    margin: 4px;
    text-transform: uppercase;
}


/*Print Title of forum comment from admin*/
.hover-orange-class {
    text-decoration: none;
    color: #0c0c0c;
}


/*Hover class to turn text orange.*/
.hover-orange-class:hover {
    color: #eaa205;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #0c0c0c;
}


/*Footer CSS*/
.orange-footer {
    background-color: #eaa205;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
