/*General body CSS*/
body {
    background-color: #0b2be0;
}

p, div {
    font-family: 'Oswald', sans-serif;
}


.beanfeast {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.orange-bg {
    background-color: #eaa205;
}

.main-bg {
    background-color: #f5f6cf;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.author-bg {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #f28305;
}

.author-text {
    color: whitesmoke;
    margin: 4px;
    text-transform: uppercase;
}

/*CSS for image placement is from the Coursework created via the CodeInstitute walkthrough for 'I think therefore I blog'.*/

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.hover-orange-class {
    text-decoration: none;
    color: #0c0c0c;
}

/*Hover class to turn text orange.*/
.hover-orange-class:hover {
    color: #eaa205;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #0c0c0c;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
