{% extends "base.html" %}

{% block content %}
<!--Responsive container-->
<div class="container-fluid">
    <div class="row">
        <!--Set to align content to center of page, responsively.-->
        <div class="col-12 align-items-center">
            <!-- Forum posts -->
            <div>
                {% for post in post_list %}
                <!--Padding away from top of page and button below.-->
                <div class="py-5">
                    <!--Card created to hold information for the Forum postings.-->
                    <div class="card card-image">
                        <div class="card-body">
                            <p class="author-text">Author: {{ post.author }}</p>
                            <a href="{% url 'post_detail' post.slug %}" class="hover-orange-class">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i
                                    class="btn-like far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}