{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4"><span class="beanfeast">Bean</span><span class="text-warning">|</span><span><strong
                    class="beanfeast">Feast</strong></span></h1>
        <p class="beanfeast"><!-- Post title -->
        <h1>{{ post.title }}
        </h1>
        </p>
        <p><!-- Post author before | post's created date after -->
        <p>{{ post.author }} | {{ post.created_on }}</p>
        </p>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col card mb-4 mt-3">
            <div class="card-body">
                <!-- Use of the '|' safe filter inside template when posting content-->
                <p class="card-text">{{ post.content | safe }}</p>
                <div class="row">

                    <div class="col">
                        <strong>
                            <!-- Ability to post likes on comments if user is authenticated. Meaning, registered or logged in.-->
                            {% if user.is_authenticated %}
                            <form class="d-inline like-form" action="{% url 'post_like' post.slug %}" method="POST">
                                <!--On all forms for user protection-->
                                {% csrf_token %}
                                {% if liked %}
                                <!--Nice Red heart if liked-->
                                <p><button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="fas fa-heart"></i></button>
                                    {% else %}
                                    <!--Grey heart for now, if no likes.-->
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="far fa-heart"></i></button>
                                </p>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!--Total number of likes.-->
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <span>
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Total Comment. -->
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-md-5 col-sm-4 card text-white bg-black">
            <h3>Discussion Board:</h3>
            <div class="card-body">
                <!-- Loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div style="padding: 10px;">
                    <div class="font-weight-bold">
                        <!-- Name goes here. -->
                        {{ comment.name }}
                        <span class="text-muted font-weight-normal">
                            <!-- Created date for comment-->
                            <!--{{ comment.created_on }}-->
                        </span>
                        <span class=" text-muted font-weight-normal">
                            <!-- Created date for comment-->
                            {{ comment.created_on }}
                        </span>
                        <h6>wrote:</h6>
                        <span>
                            <!-- Comment body goes before the | -->
                            {{ comment.body | linebreaks }}
                        </span>
                        <!-- <span>
                            <a href="/delete/{{ comment.id }}">
                                <button type="button" class="btn btn-lg btn-outline-dark">X</button></a>
                        </span> -->
                    </div>
                </div>
                {% empty %}
                <p>No comments yet, be the first to start chatting!</p>
                {% endfor %}

            </div>
        </div>
        <div class="col-md-2 col-sm-1"></div>
        <div class="pb-5 col-md-5 col-sm-7 card text-black bg-white">
            <div class="card-body">
                <!-- If user has been authenticated, the comment with have a message 'awaiting approval' until approved by admin -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>

                <form class="form-smaller" method="post"
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <!--Center buttons on form area-->
                    <button style="width: 200px; margin: 30px 0 0 40px;" type="submit"
                        class="btn btn-lg btn-outline-dark">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}