{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title -->
                <h1>{{ post.title }}
                </h1>
                <!-- Post author before | post's created date after -->
                <p>{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="/sour2.jpg" width="100%">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Use the | safe filter inside template -->
                <p class="card-text ">{{ post.content | safe }}</p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            <!-- Ability to post likes on comments if user is authenticated-->
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <!--Nice Red heart if liked-->
                                <p><button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="fas fa-heart"></i></button>
                                    {% else %}
                                    <!--Grey heart for now, if no likes.-->
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                            class="far fa-heart"></i></button>
                                </p>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!--Total count of likes-->
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- Name goes here. -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- Created date for comment-->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- Comment body goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="">
            <div class="card-body">
                <!-- If user has been authenticated, the comment with have a message 'awaiting approval' until approveed by admin -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-lg btn-outline-dark">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}