{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4"><span class="welcome-beanfeast beanfeast">Bean</span><span class="text-warning">|</span><span><strong
                    class="beanfeast">Feast</strong></span></h1>
        <p class="beanfeast">Specalist Cocktail Bar - It's always happy hour!</p>
        <p>Register with us and book a table now!</p>
        <p>Click on the Event below to see more and to leave comments.</p>
    </div>
</div>
{%endblock%}