{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">

    <div class="container text-center">
        <h1 class="display-4"><span class="welcome-beanfeast beanfeast">Bean</span><span class="text-warning">|</span><span><strong
                    class="welcome-beanfeast beanfeast">Feast</strong></span></h1>

        <p class="beanfeast">Specalist Cocktail Bar - It's always happy hour!</p>

        <p class="beanfeast">WELCOME!</p>
        <p class="beanfeast">Let me get you a drink. Book with us now!</p>
        <p class="beanfeast">Book with us now!</p>
        <div class="bottom-padding"></div>

        </div>
    <!-- </div>
    <div class="bottom-padding"><a href="{% url 'admin:index' %}">Django Admin</a></div>
</div> -->
{%endblock%}